In [89]:
def _bytes_feature(value):
    """Returns a bytes_list from a string / byte."""
    if isinstance(value, type(tf.constant(0))):
        value = value.numpy() # BytesList won't unpack a string from an EagerTensor.
    if isinstance(value, str):
        value = value.encode()
    print(value)
    print(type(value))
    return tf.train.Feature(bytes_list=tf.train.BytesList(value=[value]))

def _float_feature(value):
    """Returns a float_list from a float / double."""
    return tf.train.Feature(float_list=tf.train.FloatList(value=[value]))

def _int64_feature(value):
    """Returns an int64_list from a bool / enum / int / uint."""
    return tf.train.Feature(int64_list=tf.train.Int64List(value=[value]))

In [90]:
_bytes_feature("hello")

b'hello'
<class 'bytes'>

bytes_list {
  value: "hello"
}

In [91]:
type(b"x")

bytes

In [92]:
def _convert(value):
    if type(value) in [str, bytes]:
        return _bytes_feature(value)
    if type(value in [float])
        return _float_feature(value)
    if type(value in []

SyntaxError: invalid syntax (3301983091.py, line 4)

In [93]:
import pandas as pd

In [94]:
import csv

with open("titanic.csv") as csvfile:
    reader = csv.DictReader(csvfile)
    print(reader.fieldnames)
    for row in reader:
        pass

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [95]:
def db(x):
    return x * 2

In [101]:
df = pd.read_csv("titanic.csv").dropna()

In [102]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [103]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [104]:
mappings = {
    "PassengerId": _int64_feature,
    "Survived": _int64_feature,
    "Pclass": _int64_feature,
    "Name": _bytes_feature,
    "Sex": _bytes_feature,
    "Age": _float_feature,
    "SibSp": _int64_feature,
    "Parch": _int64_feature,
    "Ticket": _bytes_feature,
    "Fare": _float_feature,
    "Cabin": _bytes_feature,
    "Embarked": _bytes_feature
}

In [106]:
d = {
"test": type(type)
}

In [108]:
def add_one(x):
    return x + 1

In [114]:
functions = [add_one, add_one]

In [115]:
x = 1

In [117]:
for f in functions:
    x = f(x)
x

3

In [105]:
import csv
import tensorflow as tf

with open("titanic.csv") as csvfile, tf.io.TFRecordWriter("titanic.tfrecord") as writer:
    reader = csv.DictReader(csvfile)
    fields = reader.fieldnames
    for row in reader:
        feature = mappings.copy()
        for field in fields:
            feature[field] = feature[field](row[field])
        proto = tf.train.Example(features=tf.train.Features(feature=feature))
        writer.write(proto.SerializeToString())

b'Braund, Mr. Owen Harris'
<class 'bytes'>
b'male'
<class 'bytes'>
b'A/5 21171'
<class 'bytes'>
b''
<class 'bytes'>
b'S'
<class 'bytes'>
b'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
<class 'bytes'>
b'female'
<class 'bytes'>
b'PC 17599'
<class 'bytes'>
b'C85'
<class 'bytes'>
b'C'
<class 'bytes'>
b'Heikkinen, Miss. Laina'
<class 'bytes'>
b'female'
<class 'bytes'>
b'STON/O2. 3101282'
<class 'bytes'>
b''
<class 'bytes'>
b'S'
<class 'bytes'>
b'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
<class 'bytes'>
b'female'
<class 'bytes'>
b'113803'
<class 'bytes'>
b'C123'
<class 'bytes'>
b'S'
<class 'bytes'>
b'Allen, Mr. William Henry'
<class 'bytes'>
b'male'
<class 'bytes'>
b'373450'
<class 'bytes'>
b''
<class 'bytes'>
b'S'
<class 'bytes'>
b'Moran, Mr. James'
<class 'bytes'>
b'male'
<class 'bytes'>

SyntaxError: unexpected EOF while parsing (<string>, line 0)